.main_head {
  background: url("../../media/bg_main.jpg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 1000px;
  /* justify-content: center;
    align-items: center; */
}
.main_header {
  position: absolute;
}
.main_head_svg_div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_head_logo {
  width: 840px;
  height: 394px;
}
.arrow_r,
.arrow_l {
  height: 20px;
}
